
@import url("https://fonts.googleapis.com/css2?family=Autour+One&family=Montserrat:wght@300&family=Nunito&family=Poppins:ital,wght@0,200;1,300&family=Quicksand&display=swap");

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.smooth-scroll{
    scroll-behavior: smooth;
}

body::-webkit-scrollbar{
    width: 8px;
    height: 8px;
}

body::-webkit-scrollbar-thumb {
    background: #0d2a4d; 
    border-radius: 4px;
}

body::-webkit-scrollbar-thumb:hover {
    background: #0d2a4d6d;
}

body::-webkit-scrollbar-track {
    background: #0e1f34;
}


.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
    }
    .rate:not(:checked) > input {
    position:absolute;
    display: none;
    }
    .rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
    }
    .rate:not(:checked) > label:before {
    content: '★ ';
    }
    .rate > input:checked ~ label {
    color: #ffc700;
    }
    .rate:not(:checked) > label:hover,
    .rate:not(:checked) > label:hover ~ label {
    color: #deb217;
    }
    .rate > input:checked + label:hover,
    .rate > input:checked + label:hover ~ label,
    .rate > input:checked ~ label:hover,
    .rate > input:checked ~ label:hover ~ label,
    .rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
    }

    @keyframes slideIn {
        0%{
            height: 0rem;
        }
        100% {
            height: 8rem;
        }
    }

    @keyframes opacity {
        0%{
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    #receipt{
        animation: slideIn 1s forwards;
    }

    #receipt > * {
        animation: opacity 1s ease-in;
    }